@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.answer {
    display: block;
    width: 100%;
    margin: 0 0 0.25rem 0;
}

.answer.chosen.correct {
    background-color: green;
    color: white;
}

.chosen.wrong {
    background-color: red;
    color: white;
}

.answer.correct {
    background-color: darkgreen;
    color: white;
}

.answer:disabled:hover {
    border-color: transparent;
}